.header {
  font-size: clamp(1rem, 2vw, 5rem);
}

.card {
  background-image: url("../../img/lines.png");
  background-repeat: no-repeat;
  background-size: 40%;

  background-position: 2vw 3vh;

  background-color: rgba(255, 255, 255, 0.196);
  border-radius: 1%;

  width: clamp(19rem, 70vw, 90rem);

  padding-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imgWrap {
  width: 40%;

  display: flex;
  justify-content: center;
}

.portrait {
  max-height: 40vh;
  height: auto;

  align-self: flex-end;
}

.text {
  display: flex;
  flex-direction: column;

  text-align: center;
  line-height: 130%;

  font-size: clamp(1rem, 1.1vw, 2rem);
  width: 80%;
}

.p {
  padding: 1rem 2rem;
}

@media all and (max-width: 799px) {
  .card {
    display: flex;
    flex-direction: column;

    padding: 4rem 0 0 0;

    background-size: 80%;
    background-position: 5vw 3vh;
  }

  .portrait {
    align-self: center;
  }

  .p {
    padding: 1rem 0;
  }
}
