.header {
  font-size: clamp(1rem, 2.5vw, 5rem);

  margin: 1rem;
}

.card {
  background-image: url("../../img/lines.png");
  background-repeat: no-repeat;
  background-size: min(50% - 4rem, 60rem);
  background-position: 2vw 3vh;

  background-color: rgba(176, 176, 176, 0.524);

  width: min(100%, 60rem);
  margin-inline: auto;
  padding-top: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.portrait {
  height: 30vw;
  width: auto;

  align-self: flex-end;
}

.text {
  display: flex;
  flex-direction: column;

  text-align: center;

  font-size: clamp(0.9rem, 1.4vw, 2rem);
  width: clamp(15rem, 90%, 30rem);
}

.p {
  line-height: 130%;
  padding: 1.2rem 2.7rem;
}

@media all and (max-width: 699px) {
  .card {
    display: flex;
    flex-direction: column;

    padding: 4rem 0 0 0;

    background-size: 35vh;
    background-position: 5vw 3vh;
  }

  .portrait {
    align-self: center;
    height: 25vh;
  }

  .p {
    padding: 1rem;
  }
}
