.container {
  text-align: center;

  margin: clamp(1rem, 5vh, 3rem);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  margin: 1rem 0;
}

.headline {
  font-weight: 400;
  font-size: clamp(1.5rem, 25vw, 1.5rem);
}

.icon {
  color: white;
  font-size: clamp(2.5rem, 4vw, 5rem);

  transition: 0.5s;
}
.icon:hover {
  color: rgba(255, 255, 255, 0.89);

  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #7272728a) drop-shadow(0 0 8px #5bdeff8a);
}

.headlines {
  font-weight: 400;
  font-size: clamp(1.3rem, 22vw, 1.2rem);
  margin: 0.5rem;
}

.icons {
  color: rgba(255, 255, 255, 0.505);
  font-size: clamp(2rem, 4vw, 3rem);

  transition: 0.5s;
}
.icons:hover {
  color: rgb(255, 255, 255);

  transform: scale(1.1);
  filter: drop-shadow(0 0 8px #7272728a) drop-shadow(0 0 5px #ffed23c0);
  overflow: visible;
}
