.first,
.second {
  display: flex;
  justify-content: center;
}

.text {
  background-color: rgba(208, 208, 208, 0.447);
  border-radius: 1%;
  padding: 1rem;
  margin: 3rem -3rem;
  width: 40%;
  height: fit-content;

  z-index: 10;
}

.img {
  background-color: rgb(109, 109, 109);
  border-radius: 1%;

  width: 30%;
  aspect-ratio: 5/3;
}
.header {
  font-size: clamp(2rem, 2vw, 5rem);
  font-weight: 400;
}
