.container {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
}

.linkedin,
.github,
.netlify {
  fill: white;
  transition: 0.2s ease;
}

.linkedin:hover {
  fill: rgb(10, 102, 194);
}

.github:hover {
  fill: rgb(0, 0, 0);
}
.netlify:hover {
  fill: rgb(52, 222, 238);
}

.p {
  align-self: baseline;
  font-size: clamp(0.1rem, 0.5vw, 5rem);
}
