.section {
  background-image: url("../../img/pink-code-illu.svg");
  background-repeat: no-repeat;
  background-position: 80% 5%;
  background-size: clamp(200px, 30vw, 900px);

  align-items: flex-start;
}

.firstname {
  font-size: clamp(2rem, 5vw, 6rem);
}

.lastname {
  font-size: clamp(2rem, 5vw, 6rem);

  font-style: italic;
  font-weight: 400;
}

.intro {
  font-size: clamp(0.5rem, 0.2rem + 2vw, 1.2rem);
  font-weight: 400;
  width: clamp(190px, 40vw, 500px);
}

@media only screen and (width <= 1100px) {
  .section {
    min-height: 45vh;
  }

  .span {
    display: none;
  }
}

@media only screen and (width <= 550px) {
  .section {
    background-image: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}
