.section {
  background-image: url("../../img/Illustration.svg");
  background-repeat: no-repeat;
  background-position: 90% 10%;
  background-size: clamp(300px, 35vw, 900px);

  display: flex;
  justify-content: center;
  align-items: start;

  padding-left: 3rem;
}
.intro {
  line-height: 1;

  background: -webkit-linear-gradient(white, #cbcbcb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.firstname {
  font-size: clamp(3rem, 5vw, 6rem);
}
.lastname {
  font-size: clamp(3rem, 5vw, 6rem);

  font-style: italic;
  font-weight: 400;
}
.p {
  margin-left: 0.4rem;
}

@media only screen and (max-width: 550px) {
  .section {
    background-image: none;
    margin: 0;
    padding: 0;

    align-items: center;
  }
}
