.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  list-style-type: none;

  flex-wrap: wrap;
}

.li {
  margin: 0.5rem;
}

.link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.07rem;

  transition: 0.3s;
}

.link:hover {
  color: rgba(234, 234, 234, 0.692);
}
.link:active {
  color: rgb(154, 57, 99);
}

.logo {
  width: 6vh;

  margin-left: 3rem;
}

@media only screen and (width <= 550px) {
  .logo {
    margin: 0;
  }
}
