header {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 1.5rem;
}

li {
  margin: 0.5rem;
}

a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
