.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  list-style-type: none;

  flex-wrap: wrap;
  gap: 1rem;
}

.li {
  margin: 1rem;
}

.link {
  color: rgba(255, 255, 255, 0.846);
  text-decoration: none;
  letter-spacing: 0.1rem;

  transition: 0.3s;
}

.link:hover {
  color: rgb(255, 255, 255);
}
.link:active {
  color: rgb(225, 152, 184);
}
