.section {
  display: flex;
  justify-content: center;

  min-height: fit-content;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header {
  font-size: clamp(2rem, 2vw, 5rem);
  font-weight: 400;

  padding: 1rem;
}
