.card {
  width: clamp(250px, 25vw, 400px);
  aspect-ratio: 3 / 2;
  padding: 0.8rem;

  background-color: rgba(205, 205, 205, 0.609);
  border-radius: 1%;

  transition: 2s;
}

.wrap {
  /* relative to contain overlay */
  position: relative;
}

.img {
  width: 100%;
  aspect-ratio: 5 / 3;

  border-radius: 1%;

  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 1rem;

  opacity: 0;
  transition: 1s ease;
  background-color: #272727e4;

  overflow-wrap: break-word;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}

.title {
  font-weight: 300;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.link {
  margin: 0.5rem 0;
  font-weight: 200;
  font-size: 1rem;

  color: white;

  transition: 0.5s ease;
}

.link:hover {
  color: var(--hover_color);
}
.card:hover {
  background: var(--hover_color);
}

.icon {
  font-size: 1.5rem;
  margin-top: 1rem;
}
