.card {
  width: clamp(250px, 25vw, 400px);
  height: 100%;
  padding: 0.8rem;

  background: rgba(255, 255, 255, 0.196);
  border-radius: 2%;

  position: relative;
  box-sizing: border-box;
}

.card:hover {
  background: var(--hover_color);
}

.container {
  background: no-repeat center center / cover;

  width: 100%;
  height: 100%;

  aspect-ratio: auto 16/9;
  border-radius: 1%;
}

.hide {
  opacity: 0;
  height: 0px;
  overflow: hidden;

  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  height: 200px;
  transition: all 1s ease-out;
}

.card:hover .hover {
  opacity: 1;
}

.hover {
  opacity: 0;
  background-color: #2b2929;

  min-height: 100%;
  width: 100%;
  padding: 1rem 0;

  transition: all 1s ease;
  overflow-wrap: break-word;
  text-align: center;
}

.title {
  font-weight: 300;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.link {
  margin: 0.5rem 0;
  font-weight: 200;
  font-size: 1rem;

  transition: 0.5s ease;

  color: white;
}

.link:hover {
  color: var(--hover_color);
}
