#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.app {
  background: rgba(207, 207, 207, 0.35);

  box-shadow: 0 8px 32px 0 rgba(92, 92, 92, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);

  width: clamp(95%, 80vw, 80vw);

  padding: 2rem 2rem 0 2rem;
}
