:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;

  color: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 30%,
      #e6e472b9 35%,
      #e67280cb 50%,
      #e38060 65%,
      rgba(70, 147, 255, 0.735) 100%
    ),
    url("/src/img/siri.jpg"); */
  background-image: url("/src/img/grad.jpg");

  background-size: cover;
  background-position: 30%;
}
