@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,200&display=swap");

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 30%,
      #ab6969b9 35%,
      #7b88b2e2 45%,
      #3ecdf592 80%,
      rgba(255, 255, 255, 0) 90%
    ),
    url("/src/img/siri.jpg");

  background-size: cover;
  background-position: 30%;
}
