:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 30%,
      #505050b9 35%,
      #565656bf 50%,

      rgba(255, 255, 255, 0) 100%
    ),
    url("/src/img/siri.jpg"); */

  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 30%,
      #ab6969b9 35%,
      #7b88b2e2 45%,
      #3ecdf592 80%,
      rgba(255, 255, 255, 0) 90%
    ),
    url("/src/img/siri.jpg");

  background-size: cover;
  background-position: 30%;
}
